[user]
	name = Marcel Becker
	email = mbecker.ctr@kr.af.mil
[core]
	excludesfile = /Users/marcelbecker/.gitignore_global
	autocrlf = input
	pager = delta
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[filesystem "AdoptOpenJDK|13.0.1|/dev/disk2s5"]
	timestampResolution = 14000 nanoseconds
	minRacyThreshold = 0 nanoseconds
[filesystem "Eclipse Adoptium|11.0.15|/dev/disk1s1"]
	timestampResolution = 14000 nanoseconds
	minRacyThreshold = 0 nanoseconds
[filesystem "Oracle Corporation|18.0.2|/dev/disk1s1"]
	timestampResolution = 6000 nanoseconds
	minRacyThreshold = 0 nanoseconds
[http "https://gitlab.csde.caci.com"]
	#cookiefile = /Users/marcelbecker/.csde-cookies
	sslCert = ~/.config/csde/client.cert
	sslKey = ~/.config/csde/client.key
[http "https://*.csde.caci.com"]
	#cookiefile = /Users/marcelbecker/.csde-cookies
	sslCert = ~/.config/csde/client.cert
	sslKey = ~/.config/csde/client.key
[interactive]
	diffFilter = delta --color-only

[include]
	path = /Users/marcelbecker/themes.gitconfig
[delta]
	# features = chameleon best
	features = discord
	navigate = true    # use n and N to move between diff sections
	side-by-side = true
[merge]
	conflictstyle = diff3
[diff]
	colorMoved = default
[url "git@gitlab.kesselrun.us:"]
	insteadOf = git@git.aoc-pathfinder.cloud:
