[user]
	name = Marcel Becker
	email = marcelbecker@gmail.com
[core]
	excludesfile = /Users/marcelbecker/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[filesystem "AdoptOpenJDK|13.0.1|/dev/disk1s5"]
	timestampResolution = 14000 nanoseconds
	minRacyThreshold = 0 nanoseconds
