[user]
	name = Marcel Becker
	email = mbecker.ctr@kr.af.mil
[core]
	excludesfile = /Users/marcelbecker/.gitignore_global
	autocrlf = input
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[filesystem "AdoptOpenJDK|13.0.1|/dev/disk2s5"]
	timestampResolution = 14000 nanoseconds
	minRacyThreshold = 0 nanoseconds
